DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=name
DB_PORT=5432
POSTGRAPHILE_URL=http://boc-game-engine-postgraphile:4001/graphql
SSL_ENABLED=false
GAME_START_TIMESTAMP=1731073872
LAOS_GRAPHQL=https://my0.com/graphql
# Endpoints for queries to indexers on different chains, sorted by chain_id, currently: 1, 137, 42161. Separate with commas.
OWNERSHIP_GRAPHQLS=https://my1.com/graphql,https://my2.com/graphql,https://my3.com/graphql
# Delete the DEBUG line completely unless you want to debug:
DEBUG=True
LAOS_CHAIN_ID=6283