NEXT_PUBLIC_LAOS_CONTRACT_ADDRESS=NEXT_PUBLIC_LAOS_CONTRACT_ADDRESS
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID
NEXT_PUBLIC_BOC_API_URL=NEXT_PUBLIC_BOC_API_URL
NEXT_PUBLIC_LAOS_APPS_URL=NEXT_PUBLIC_LAOS_APPS_URL
NEXT_PUBLIC_ETHEREUM_UERC721_ADDRESS=NEXT_PUBLIC_ETHEREUM_UERC721_ADDRESS
NEXT_PUBLIC_POLYGON_UERC721_ADDRESS=NEXT_PUBLIC_POLYGON_UERC721_ADDRESS
NEXT_PUBLIC_ARBITRUM_UERC721_ADDRESS=NEXT_PUBLIC_ARBITRUM_UERC721_ADDRESS